body {
	margin: 0rem;
	tab-size: 2;
}
main {
	margin-left: 2rem;
}
nav {
	font-size: 1.5rem;
	background-color: royalblue;
	color: white;
	margin: 0rem;
	padding: 0.5rem;
	cursor: pointer;
}

nav a {
	padding: 0.5rem;
	color: inherit;
}

nav a:hover {
	background-color: cornflowerblue;
	color: inherit;
	text-decoration: none;
}

.euler-code {
	display: block;
	margin-right: 2rem;
}

.euler-desc,
.euler-sol {
	white-space: pre-wrap;
}

.row {
	margin-right: 10px;
}
